@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@import 'config';

$orange:hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(217, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: $white;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

// Navbar
.navbar {
  width: 100%;
  height: 100px;
}

.navbar-container {
  height: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grayish-blue;
}

.nav-left {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex: 1;
  margin-left: 45px;

  a {
    cursor: pointer;
    height: 100%;
    color: $grayish-blue;
    font-size: 0.9rem;
    margin-right: 30px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;

    &:hover {
      color: $dark-grayish-blue;
      border-bottom: 3px solid $orange;
    }
  }
}

.nav-right {
  display: flex;
  align-items: center;

  .badge {
    cursor: pointer;
    width: 14px;
    height: 10px;
    position: absolute;
    transform: translate(8px, -7px);
    font-size: 0.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 40%;
    color: $white;

    &.badge-warning {
      background-color: $orange;
    }
  }

  .cart {
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 18px;
    margin-right: 35px;
  }

  .profile-pic {
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 42px;
    border-radius: 50%;

    &:hover {
      outline: 2px solid $orange;
    }
  }
}

//Cart Card
.cart-card {
  position: fixed;
  top: 80px;
  right: 110px;
  width: 300px;
  height: 220px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 25px, rgba(0, 0, 0, 0.02) 0px -6px 20px;

  .cart-title {
    height: 60px;
    border-bottom: 1px solid $grayish-blue;

    h1 {
      font-size: 0.8rem;
      margin-left: 20px;
      padding: 20px 0;
    }
  }
}

.card-desc {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .empty {
    color: $dark-grayish-blue;
  }
}

.total-products {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

    .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: -20px;

    img {
      width: 100%;
      height: 100%;
      max-width: 15%;
      border-radius: 4px;
    }

    .title,
    .desc p{
      font-size: 0.83rem;
      font-weight: 400;
      color: $grayish-blue;
      line-height: 1.3rem;
    }

    .desc {
      display: flex;

      span {
        margin-left: 5px;
      }
      
      .total-price{
        font-weight: bold;
        color: $very-dark-blue;
        margin-left: 5px;
      }
    }

    #i-delete {
      cursor: pointer;
      width: 100%;
      max-width: 12px;
    }
  }

  button {
    height: 45px;
    margin-bottom: -20px;
  }
}



// Product Card
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.product-card {
  justify-items: center;
  width: 80vw;
  margin: 70px auto 0;
}

.products {
  grid-column: 1;

 .img-xl {
   cursor: pointer;
   width: 70%;
   margin: 0 auto;

   img {
     width: 100%;
     border-radius: 14px;
   }
 }

 .img-sm {
   width: 100%;
   margin-top: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   padding: 0 55px;

   div {
     cursor: pointer;
     width: 17%;
     border-radius: 8px;
     background-color: $white;
   }

   img {
     display: block;
     width: 100%;
     border-radius: inherit;

     &:hover {
       opacity: 60%;
     }
   }
 }
}

.product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h5 {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: $orange;
  }

  h1 {
    width: 80%;
    margin-top: 10px;
    font-size: 2.4rem;
  }

  .desc {
    width: 80%;
    margin-top: 30px;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: $dark-grayish-blue;
  }
}

.product-price {
  display: grid;
  grid-template-columns: 1;

  h2 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  span {
    align-self: center;
    margin-left: 14px;
    padding: 2px 8px;
    font-size: 0.9rem;
    color: $orange;
    background-color: $pale-orange;
    border-radius: 6px;
  }

  h4 {
    margin-top: 10px;
    font-size: 0.8rem;
    text-decoration: line-through;
    color: $grayish-blue;
  }
}

.product-btn {
  display: flex;
  margin-top: 25px;

  .btn-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $light-grayish-blue;
    width: 130px;
    border-radius: 10px;
    margin-right: 12px;

    p {
      font-size: 0.8rem;
      font-weight: bold;
    }
  }

  .btn-cart {
    width: 220px;
    box-shadow: $pale-orange 0px 19px 38px, $pale-orange 0px 15px 12px;

    img {
      width: 14px;
      margin-right: 10px;
    }
  }
}

//Lightbox
.products {
  &.lightbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 11vh;
    right: 30vw;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.75);

    .img-sm {
      padding: 0 120px;
    }
  }
}

.icon {
  display: flex;
  position: absolute;
  top: 230px;
  background-color: $white;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.prev{
    left: 75px;
  }

  &.next{
    right: 75px;
  }

  img {
    width: 100%;
    max-width: 10px;
  }
}

#i-close {
  cursor: pointer;
  align-self: flex-end;
  margin: 0 100px 15px 0;
}

// Button Styles
.btn {
  cursor: pointer;
  display: block;
  border: 0;
  border-radius: 7px;
  padding: 12px 10px;
}

.btn-light {
  background-color: transparent;
  color: $orange;
  font-weight: bold;
  font-size: 1rem;
}

.btn-orange {
  background-color: $orange;
  color: $white;
  font-size: 0.8rem;
  font-weight: bold;
}

// Global 
.disabled {
  display: none;
}

.active {
  border: 2px solid $orange;
  border-radius: 10px;

  img {
    opacity: 22%;

    &:hover {
      opacity: 22% !important;
    }
  }
}

@import 'mobile';